<ion-tabs #myTabs 
          (ionChange)="tabChange($event)"
          class="main-tabs" 
          color="light">
  
  <ion-tab [root]="categoryRoot" tabIcon="compass"></ion-tab>
  <ion-tab [root]="matchRoot"
          tabIcon="heart"
          [tabBadge]="matching.badgeDisplay()"></ion-tab>
  <ion-tab [root]="notificationsRoot" 
        tabIcon="notifications" 
        [tabBadge]="notif.counter" 
        ></ion-tab>
  <ion-tab [root]="messagesRoot"
           tabIcon="mail"
           [tabBadge]="message.counter" ></ion-tab>
   
  <ion-fab *ngIf="showAddButton" 
           class="special-fab -top" 
           [class.bounce-button]="showWritePostPrompt()" top right edge>
    <button class="add-item" color="secondary" ion-fab mini (click)="addItem()">
    	<ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-tabs>