<ion-header>
  <ion-navbar>
    <ion-title>
      <span color="dark">Profile</span>
      <button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-divider no-lines>Account</ion-item-divider>
    <ion-item>{{ userName }}</ion-item>
    <ion-item padding-bottom (click)="logout()"><span color="primary">Logout</span></ion-item>
  </ion-list>
</ion-content>

<ion-footer>

</ion-footer>