<!--
Generated template for the Category page.

See http://ionicframework.com/docs/v2/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="{{headerColor}}">
    <ion-title>
      {{ feedTitle }} 
      <mojc-spinner [showSpinner]="showSpinner" [spinnerColor]="spinnerColor"></mojc-spinner>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-fab class="special-fab -top" top right edge>
  <button (click)="openExplorePage()" class="mojc-icon-2" ion-fab mini color="secondary">
    <ion-icon name="search"></ion-icon>
  </button>
</ion-fab>

<ion-content>
  <ion-refresher (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <feed-section [itemList]="items" [postedItems]="getPostedItems()"></feed-section>
  <ion-infinite-scroll (ionInfinite)="goToNextPage($event)">
    <ion-infinite-scroll-content
      loadingSpinner="circles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>