<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>View 
       <mojc-spinner [showSpinner]="showSpinner"></mojc-spinner>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-fab class="special-fab -top" top right edge>
  <button (click)="shareToFacebook()" class="mojc-icon-2" ion-fab mini color="secondary">
    <ion-icon name="share-alt"></ion-icon>
  </button>
</ion-fab>

<ion-fab class="special-fab -top" top right edge>
  <button (click)="scrollToBottom()" class="mojc-icon-3" ion-fab mini color="secondary">
    <ion-icon name="chatboxes"></ion-icon>
  </button>
</ion-fab>

<ion-content>
  <ion-refresher (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-header>
      {{ selectedItem.title }}
    </ion-card-header>
    <ion-card-content [innerHTML]="selectedItem.content">
    </ion-card-content>
    <ion-card-content>
      {{ selectedItem.owner_name}}
      <open-chatbox [toUser]="selectedItem.user_id"
                    [username]="selectedItem.owner_name"
                    *ngIf="showItemChatButton()" ></open-chatbox>
    </ion-card-content>
  </ion-card>

    <ion-item-group padding-horizontal>
      <button ion-button block outline margin-top
                  *ngIf="selectedItem.comment_counter > comments.length" 
                  (click)="olderComments()">
         Older comments...<mojc-spinner [showSpinner]="loadingComments" [spinnerColor]="spinnerColor"></mojc-spinner>
      </button>
      <ion-item class="item" *ngFor="let comment of comments">
          <div class="item-text" >
            <span  *ngIf="comment.show_details" class="item-details">{{ formatDate(comment.created_at) }}</span>
           
              
              <div class="comment-wrapper" 
                   [ngClass]="{'comment-tapped': showCommentChatButton(comment) }">
                <open-chatbox [toUser]="comment.user_id"  
                              [username]="comment.owner_name"
                              *ngIf="showCommentChatButton(comment)"></open-chatbox>
                <h2 (click)="showCommentDetails(comment)">
                  <strong>{{ comment.owner_name }}</strong> <span [innerHTML]="comment.content"></span>
                </h2>
              </div>                 
                           
          </div>
      </ion-item>

      <form id="comment-form" margin-top [formGroup]="commentForm" (ngSubmit)="submitComment()">
        
        <div [hidden]="!showNameField()">
          <ion-chip (click)="toggleNameField()" [class.shake-button]="showCommentAliasPrompt()"> 
            <ion-icon name="contact"></ion-icon>
            <ion-label>{{ getName() }}</ion-label>
          </ion-chip>          
            
          <ion-item [hidden]="hideNameField">
            <ion-label stacked>Name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
        </div>

        <ion-item>
          <ion-label stacked>Comment</ion-label>
          <ion-textarea formControlName="content"></ion-textarea>
        </ion-item>
      
        <button ion-button block color="secondary" type="submit" >Submit</button>
      </form>

  </ion-item-group> 

</ion-content>
