page-item {
    .item {
        &.item-block {
            background-color: transparent;
            border-bottom: 0.55px solid #c8c7cc;
            .item-inner {
                border: none;
            }
        }
        .item-text {
        	white-space: normal;
        }
        h2 {
            font-size: 14px;
        }
    }

    ion-content ion-spinner {
        height: 10px;
        margin-bottom: 12px;
    }

    ion-card-header {
        white-space: normal;
    }

    ion-card-content {
        open-chatbox {
            float: right;
            margin-top: -10px;
            margin-bottom: 10px;

            .fab {
                width: 40px;
                height: 40px;
                
                ion-icon {
                    font-size: 1.2em;
                    margin-left: 5px;
                    margin-top: 2px;
                }
            }
        }
    }

    .comment-wrapper {        
        open-chatbox {
            float: left;
            margin-left: 3px;
            margin-right: 10px;
            .fab {
                width: 34px;
                height: 34px;
                margin: 0;

                ion-icon {
                    font-size: 1.2em;
                    margin-left: 5px;
                    margin-top: 2px;
                }
            }
        }
    }

    .comment-wrapper.comment-tapped {
        min-height: 38px;

        h2 {
            padding-top: 9px;
        }
    }

    .item-details {
        font-size: 12px;
    }
}