<!--
  Generated template for the AddArticle component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<ion-header>
  <ion-navbar>
    <ion-title>
      <span color="dark">New</span>
      <button class="close-modal" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <form [formGroup]="article" (ngSubmit)="saveForm()">
      <ion-list padding>  
        <ion-chip (click)="toggleNameField()" margin-bottom [class.shake-button]="showChangeAliasPrompt()">
          <ion-icon name="contact"></ion-icon>
          <ion-label>{{ getName() }}</ion-label>
        </ion-chip>  

        <ion-item [hidden]="hideNameField" padding-right>
          <ion-label stacked>Name</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>

        <ion-item padding-right>
          <ion-label stacked>Title</ion-label>
          <ion-input type="text" formControlName="title"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Content</ion-label>
          <ion-textarea formControlName="contentBody"></ion-textarea>
        </ion-item>
      </ion-list>
    </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button full type="submit" color="secondary" [disabled]="!article.valid" (click)="saveForm()">Publish</button>
  </ion-toolbar>
</ion-footer>