<ion-header>
  <ion-navbar>
    <ion-title>
      <span color="dark">Settings</span>
      <button class="close-modal" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <form [formGroup]="msgSettings" (ngSubmit)="saveForm()">
      <ion-list padding>  
        <ion-item-divider no-lines>Bio
          <span [className]="counterClass()">{{ characterCount() }} / 280</span>
        </ion-item-divider>
        <ion-item>
          <ion-textarea rows="10" 
                        [placeholder]="bioExample" 
                        formControlName="userBio"></ion-textarea>
        </ion-item>
        <ion-item-divider no-lines>Requests</ion-item-divider>
        <ion-item class="checkbox-text">
          <ion-label>Send me chat requests (You will get regular notifications for matches which you can accept or decline.)</ion-label>
          <ion-checkbox color="primary" formControlName="sendChatRequest"></ion-checkbox>
        </ion-item>
        <ion-item class="checkbox-text">
          <ion-label>Allow requests from discussions (People will be able to message you through your posts.)</ion-label>
          <ion-checkbox color="primary" formControlName="allowFromPosts"></ion-checkbox>
        </ion-item>
      </ion-list>
    </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button full type="submit" color="secondary" [disabled]="!msgSettings.valid" (click)="saveForm()">Save</button>
  </ion-toolbar>
</ion-footer>