message-settings {
	ion-textarea {
		height: 220px;
	}
	.character-count {
		float: right;
		font-size: 0.8em;
	}
	.invalid {
		color: red;
	}
	.checkbox-text {	 
	    .item-inner {
	    	font-size: 0.9em;
	    		     
	        ion-label {
	            white-space: normal;
	        }
	    }
	}
}