<ion-header>
  <ion-navbar>
    <ion-title>
      Sign up 
      <mojc-spinner [showSpinner]="showSpinner"></mojc-spinner>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
    <div padding text-center>Choose a fun username and get started!</div>

    <ion-list>
      <ion-item>
        <ion-label stacked>Username</ion-label>
        <ion-input [(ngModel)]="signUpUser.username" type="text"></ion-input>
      </ion-item>
    </ion-list>

    <button ion-button block (click)="signUp()" >
     Continue
    </button>
</ion-content>