
<ion-header>
	<ion-navbar>
		<ion-title>Matching</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-list padding *ngIf="!isEmpty()">  
		<ion-item-divider no-lines>Bio</ion-item-divider>
		<ion-item class="user-bio-text">
		  {{ userBio() }}
		</ion-item>
	</ion-list>
	<h4 *ngIf="isEmpty()">List is empty!</h4>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<button ion-button full color="secondary" (click)="accept()">Accept</button>
		<button ion-button full color="light" (click)="next()">Next</button>
	</ion-toolbar>
</ion-footer>