<ion-header>
  <ion-navbar>
    <ion-title>
      <span color="dark">Open Match</span>
      <button class="close-modal" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    
      <ion-list padding>  
        <ion-item-divider no-lines>Bio</ion-item-divider>
        <ion-item class="user-bio-text">
          {{ bio }}
        </ion-item>
        
      </ion-list>
   
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button full type="submit" color="secondary" (click)="accept()">Accept</button>
    <button ion-button full color="light" (click)="decline()">Decline</button>
  </ion-toolbar>
</ion-footer>