<ion-item-group>
	<button ion-item class="item" *ngFor="let item of postedItems" (click)="viewSingleItem(item.id)">
      <div class="item-text">
        <h2><strong>{{ item.title }}</strong> {{ item.excerpt }}...</h2>
      </div>
      <div class="item-details">{{ item.owner_name }}</div>
 	</button>
    <button ion-item class="item" *ngFor="let item of itemList" (click)="viewSingleItem(item.id)">
      <div class="item-text">
        <h2><strong>{{ item.title }}</strong> {{ item.excerpt }}...</h2>
      </div>
      <div class="item-details">{{ item.owner_name }}</div>
 	</button>
</ion-item-group>