feed-section {
	.item {
        &.item-block {
            background-color: transparent;
            border-bottom: 0.55px solid #c8c7cc;
            .item-inner {
                border: none;
            }
        }
        .item-text {
        	white-space: normal;
        }
        h2 {
            font-size: 16px;
        }
    }
}
