<ion-header>
  <ion-navbar>
    <ion-title>
      Welcome! 
      <mojc-spinner [showSpinner]="showSpinner"></mojc-spinner>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
  <div *ngIf="!loading" >
    <div class="mojc-logo">m</div>
    <button ion-button block color="facebook" (click)="loginWithFacebook()" >
       <ion-icon name="logo-facebook" class="facebook-icon"></ion-icon> Log In with Facebook
    </button>

  </div>
</ion-content>
