// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$mojc-primary-color: #db7093;
$mojc-content-background: #f8f9fa;
$mojc-divider: #93a0b3;
$mojc-item-border-bottom: darken($mojc-content-background, 5%);

$mojc-logo-shimmer: lighten($mojc-primary-color, 25%);

$mojc-chat-bg-main: lighten($mojc-primary-color, 24%);
$mojc-chat-bg-user: darken($mojc-content-background, 8%);

$colors: (
  primary: $mojc-primary-color,
  secondary:  (
    base: lighten(#db7093, 26%),
    contrast: $mojc-primary-color
  ),
  danger: #f53d3d,
  light: (
    base: #f4f4f4,
    contrast: $mojc-primary-color
  ),
  dark: #222,
  grey: darken($mojc-content-background, 20%),
  white: #fff,
  black: #000,
  plain: (
    base: darken($mojc-content-background, 3%),
    contrast: #000
  ),
  facebook: #3b5998
);

$toolbar-background: $mojc-primary-color;
$text-input-highlight-color-valid: #93a0b3;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
