// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
    font-family: "Besley";
    src: url("../assets/fonts/besley.book.otf") format("opentype");
}

h1, h2, h3 {
      font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
}

body, p {
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.58;
    letter-spacing: -.004em;
                
}

textarea {
    min-height: 120px;
}

ion-content.content {
    background-color: $mojc-content-background;
}
ion-modal .toolbar-background {
    background-color: #f8f8f8;
}

ion-title button.close-modal {
    color: $mojc-primary-color;
    background-color: #f4f4f4;
    padding: 6px 8px;
    border: $mojc-primary-color solid 1px;
    float: right;
}

.md {
.special-fab {
    &.-bottom {
        bottom: 4px;
    }
    &.-top {
        top: 24px;
        right: 20px;
    }
    .mojc-icon-2 {
        right: 50px;
    }
    .mojc-icon-3 {
        right: 100px;
    }
}
}

.ios {
.special-fab {
    &.-bottom {
        bottom: 1px;
    }
}
}

.item-details, .blog-details {
        color: #93a0b3;
        font-size: 14px;
    }
.notifications-details, .message-details {
        color: #93a0b3;
        font-size: 12px;
    }

.tags {
        > span {
            display: inline-block;
            background-color: color($colors, grey);
            padding: 5px;
            text-transform: uppercase;
            color: $text-color;
            font-size: 1rem;
            border-radius: 5px;
            & + span {
                margin-left: 5px;
            }
        }
    }

.head-spinner {
    color: #fff;
    top: 7px;
    margin-left: 5px;
}
.facebook-icon {
    margin-right: 3px;
}

.user-bio-text {
    padding-left: 0;

    .item-inner {
        padding-left: 16px;
        padding-bottom: 16px;

        ion-label {
            white-space: normal;
        }
    }
}

//Logo shimmer
.mojc-logo {
    font-size: 7em;
    text-align: center;
    font-family: "Besley";
    margin-bottom: 18px;
    color: rgba(255, 255, 255, 0.1);
    background: -webkit-gradient(linear, left top, right top, from($mojc-primary-color), to($mojc-primary-color), color-stop(0.5, #fff));
    background: -moz-gradient(linear, left top, right top, from($mojc-primary-color), to($mojc-primary-color), color-stop(0.5, #fff));
    background: gradient(linear, left top, right top, from($mojc-primary-color), to($mojc-primary-color), color-stop(0.5, #fff));
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: $mojc-primary-color;
}
@-moz-keyframes shimmer {
        0% {
                background-position: top left;
        }
        100% {
                background-position: top right;
        }
}

@-webkit-keyframes shimmer {
        0% {
                background-position: top left;
        }
        100% {
                background-position: top right;
        }
}

@-o-keyframes shimmer {
        0% {
                background-position: top left;
        }
        100% {
                background-position: top right;
        }
}

@keyframes shimmer {
        0% {
                background-position: top left;
        }
        100% {
                background-position: top right;
        }
}

//Bounce button
@-webkit-keyframes bounce {
    0% {
        transform: translate(0px, 0px);
    }
  
    30%{
        transform: translate(0px, 3px); 
    }

    75%{
        transform: translate(0px, -3px); 
    }
  
    100% {
        transform: translate(0px, 0px);
    }
}

.bounce-button {
    -webkit-animation: bounce 0.75s infinite;
}

//Bounce tab 
.bounce-tab ion-icon.ion-md-search {
    -webkit-animation: bounce 0.75s infinite;
}

//Shake button
@-webkit-keyframes shake {
    0% {
        transform: translate(0px, 0px);
    }
  
    30%{
        transform: translate(2px, 0px); 
    }

    75%{
        transform: translate(-2px, 0px); 
    }
  
    100% {
        transform: translate(0px, 0px);
    }
}

.shake-button {
    -webkit-animation: shake 0.75s infinite;
}
