<ion-header>
  <ion-navbar>
    <ion-title>
      <span color="dark">Chatroom Guidelines</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    
      <img src="assets/img/article/m2.jpg">
   
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button full color="light" (click)="closeModal()">Close</button>
  </ion-toolbar>
</ion-footer>