<ion-header>
  <ion-navbar>
    <ion-title>Messages</ion-title>
  </ion-navbar>
</ion-header>

<ion-fab class="special-fab -top" top right edge>
  <button (click)="openSettings()" ion-fab mini color="secondary">
    <ion-icon name="settings"></ion-icon>
  </button>
</ion-fab>

<ion-content>
  <ion-refresher (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-list>
    <ion-item-group>
      <button ion-item *ngFor="let chatbox of chatboxes; let i = index" (click)="openMessage(chatbox, i)">
          <div class="message-text">
            <h2><strong>{{ chatbox.username }}</strong> <span [ngClass]="{'message-unread': chatbox.unread}">{{ chatbox.last_message_text }}...</span></h2>
          </div>
          <div class="message-details">{{ chatbox.last_message_date_text }}</div>
      </button>
      <ion-infinite-scroll (ionInfinite)="goToNextPage($event)" 
                           *ngIf="total > chatboxes.length" >
        <ion-infinite-scroll-content
          loadingSpinner="circles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-item-group>
  </ion-list>
</ion-content>