<ion-header>
  <ion-navbar>
    <ion-title>Notifications</ion-title>
  </ion-navbar>
</ion-header>

<ion-fab class="special-fab -top" top right edge>
  <button (click)="openUserItems()" class="mojc-icon-2" ion-fab mini color="secondary">
    <ion-icon name="list-box"></ion-icon>
  </button>
</ion-fab>

<ion-fab class="special-fab -top" top right edge>
  <button (click)="openProfile()" class="mojc-icon-3" ion-fab mini color="secondary">
    <ion-icon name="contact"></ion-icon>
  </button>
</ion-fab>

<ion-content>
  <ion-refresher (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-list>
    <ion-item-group *ngIf="notification.readNotifications.length > 0" >
      <ion-item-divider no-lines>Latest</ion-item-divider>
      <button ion-item class="notifications" 
              *ngFor="let notification of notification.readNotifications"
              (click)="openNotification(notification)" >
        <ion-grid>
          <ion-row wrap class="notification-text">
            <ion-col>{{ notification.text }}</ion-col>
          </ion-row>
          <ion-row wrap class="notifications-details">
            <ion-col>{{ notification.updated }}</ion-col>
          </ion-row>
        </ion-grid>
      </button>
    </ion-item-group>

    <ion-item-group *ngIf="notification.oldNotifications.length > 0" >
      <ion-item-divider no-lines>Older</ion-item-divider>
      <button ion-item class="notifications" 
              *ngFor="let notification of notification.oldNotifications"
              (click)="openNotification(notification)" >
        <ion-grid>
          <ion-row wrap class="notification-text">
            <ion-col>{{ notification.text }}</ion-col>
          </ion-row>
          <ion-row wrap class="notifications-details">
            <ion-col>{{ notification.updated }}</ion-col>
          </ion-row>
        </ion-grid>
      </button>
      <ion-infinite-scroll (ionInfinite)="goToNextPage($event)" 
                           *ngIf="notification.total > notification.oldNotifications.length" >
        <ion-infinite-scroll-content
          loadingSpinner="circles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-item-group>
  </ion-list>
</ion-content>