page-notifications {
    .notifications {
        &.item-block {
            background-color: #fff;
            border-bottom: 0.55px solid $mojc-item-border-bottom;
            .item-inner {
                border: none;
            }
        }
        h2 {
            font-size: 16px;
        }
        .notification-text {
            font-size: 14px;
            white-space: normal;
        }
        ion-grid, ion-col {
            padding: 0;
        }
    }
    .item-divider {
        ion-label {
            color: $mojc-divider;
            margin-bottom: 0px;
        }
    }
}
