page-explore {
    
    .item-divider {
        ion-label {
            color: #93a0b3;
            margin-bottom: 0px;
        }
    }
    .emoji-feed {
        section {
            background-color: #fff;
            box-shadow: 0px 0px 3px rgba(0,0,0,0.15);
    
            ion-item {
                padding-bottom: 14px;
                text-align: center;
                background-color: #fff;
                p {
                    text-align: center;
                    color: #93a0b3;
                    
                }
                span {
                    font-size: 3em;
                }
            }
            ion-label {
                margin-bottom: 0px;
            }
            button {
                box-shadow: none;
                border-top: 1px solid #e8e8e8;
                border-bottom: 1px solid #e8e8e8;
            }
        }
    }

}