
<ion-header>
  <ion-navbar>
    <ion-title>Explore</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refreshPage($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item-group class="emoji-feed">
    <ion-grid>
      <ion-row *ngFor="let emojis of emojiArray">
        <ion-col *ngFor="let emoji of emojis">
          <section>
            <ion-item no-lines (click)="openFeedForEmoji(emoji)">
              <span>{{ emoji }}</span>
            </ion-item>
          </section>
        </ion-col>
        <ion-col *ngFor="let cell of addExtraCells(emojis)">
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-infinite-scroll (ionInfinite)="goToNextPage($event)" 
                         *ngIf="total > counter" >
      <ion-infinite-scroll-content
        loadingSpinner="circles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-item-group>
</ion-content>