<ion-header>
  <ion-navbar>
    <ion-title>
      <span color="dark">Chat with {{ username }}</span>
      <button class="close-modal" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <form [formGroup]="requestChat" (ngSubmit)="requestChatbox()">
      <ion-list padding>  
        <ion-item-divider no-lines>Bio</ion-item-divider>
        <ion-item class="user-bio-text">
          {{ bio }}
        </ion-item>
        <ion-item>
          <ion-textarea auto-grow="true" placeholder="Write a message (optional)." formControlName="message"></ion-textarea>
        </ion-item>
      </ion-list>
    </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button full type="submit" color="secondary" [disabled]="!requestChat.valid" (click)="requestChatbox()">Send Request</button>
  </ion-toolbar>
</ion-footer>