<ion-header>
  <ion-navbar>
    <ion-title>{{ username }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-group *ngFor="let message of messages">
    <div [className]="chatBubbleClass(message.user)">
      <div class="talktext" (click)="showMessageDate(message)">
        <p>{{ message.message }}</p>
        <div *ngIf="message.show_date" class="chat-date">{{ message.date }}</div>
      </div>
    </div>
  </ion-item-group>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-input type="text" [(ngModel)]="message" placeholder="Enter message"></ion-input>
    <button class="chat-send-btn" ion-button (click)="send()" item-right>
      <ion-icon name="send"></ion-icon>
    </button>
  </ion-item>
</ion-footer>