page-chatbox {
	ion-content {
		padding-top: 16px;
	}
	.scroll-content {
		padding-top: 14px;
	}

	.item-md .item-button {
	    height: 34px;
	    margin: auto;
	    color: #333;
	    background-color: #fff;
	    font-size: 1.36em;
	    box-shadow: none;
	}
	.chat-user {
		float: right;
	}
	.chat-date {
		position: absolute;
	    font-size: 0.8em;
	    color: #333;
	    right: 8px;
		bottom: 1px;
	}
	/* CSS talk bubble */
	.talk-bubble {		
		margin: 16px 30px;
		display: inline-block;
	 	position: relative;
		width: 68%;
		height: auto;
		background-color: $mojc-chat-bg-main;
	}
	.talk-bubble p {
		font-family: 'Roboto', sans-serif;
		font-size: 1.2em;
	}
	.talk-bubble.chat-user {
		background-color: $mojc-chat-bg-user;
	}
	.border{
	  border: 8px solid #666;
	}
	.round{
		border-radius: 30px;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;

	}

	/* Right triangle placed top left flush. */
	.tri-right.border.left-top:before {
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
		left: -40px;
		right: auto;
		top: -8px;
		bottom: auto;
		border: 32px solid;
		border-color: #666 transparent transparent transparent;
	}
	.tri-right.left-top:after{
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
	  	left: -20px;
		right: auto;
	  	top: 0px;
		bottom: auto;
		border: 22px solid;
		border-color: $mojc-chat-bg-main transparent transparent transparent;
	}
	.chat-user.tri-right.left-top:after {
		border-color: $mojc-chat-bg-user transparent transparent transparent;
	}

	/* Right triangle, left side slightly down */
	.tri-right.border.left-in:before {
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
		left: -40px;
		right: auto;
	 	top: 30px;
		bottom: auto;
		border: 20px solid;
		border-color: #666 #666 transparent transparent;
	}
	

	/* Right triangle placed top right flush. */
	.tri-right.border.right-top:before {
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
	  	left: auto;
		right: -40px;
	  	top: -8px;
		bottom: auto;
		border: 32px solid;
		border-color: #666 transparent transparent transparent;
	}
	.tri-right.right-top:after{
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
	  	left: auto;
		right: -20px;
	  	top: 0px;
		bottom: auto;
		border: 20px solid;
		border-color: $mojc-chat-bg-main transparent transparent transparent;
	}
	.chat-user.tri-right.right-top:after {
		border-color: $mojc-chat-bg-user transparent transparent transparent;
	}

	/* talk bubble contents */
	.talktext{
	  padding: 1em;
		text-align: left;
	  line-height: 1.5em;
	}
	.talktext p{
	  /* remove webkit p margins */
	  -webkit-margin-before: 0em;
	  -webkit-margin-after: 0em;
	}
}