<ion-header>
  <ion-navbar>
    <ion-title>
      <span *ngIf="!fromMatch" color="dark">Chat with {{ details.username }}</span>
      <span *ngIf="fromMatch" color="dark">Open Match</span>
      <button class="close-modal" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-list padding>  
      <ion-item-divider no-lines>Bio</ion-item-divider>
      <ion-item class="user-bio-text">
        <p>{{ details.user_bio }}</p>
      </ion-item>
      <ion-item-divider *ngIf="showMessage()" no-lines>Message</ion-item-divider>
      <ion-item *ngIf="showMessage()" class="user-bio-text">
        <p>{{ details.message }}</p>
      </ion-item>
    </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button full color="secondary" (click)="confirm()">
      <span>Accept</span>
    </button>
    <button ion-button full color="light" (click)="decline()">Decline</button>
  </ion-toolbar>
</ion-footer>